body {
    font-family: Arial, sans-serif;
    background-color: #e0f2f1; /* Helles Grün */
    color: #004d40; /* Dunkles Grün für Text */
    margin: 0;
    padding: 0;
}

header {
    background-color: #004d40;
    color: white;
    padding: 1em;
    text-align: center;
}

h1 {
    margin: 0;
}

#game-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1em;
}

.game {
    border: 1px solid #004d40;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 1em;
    padding: 1em;
    max-width: 200px;
    text-align: center;
}

.game img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.game h2 {
    font-size: 1.2em;
    margin: 0.5em 0;
}

.game p {
    font-size: 0.9em;
    margin: 0.5em 0;
}

.game .id {
    font-size: 0.8em;
    color: #00796b; /* Etwas helleres Grün für die ID */
}
